{% extends "layouts/dashboard.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <title>Apply procedure</title>
{% endblock head %} 

{% block dashboard_content %}
  <div class="flex flex-1 flex-col items-center pb-[5rem]">
    <div class="w-[90%] max-w-[50rem]">
      <div class="text-[30pt] font-bold"><i class="fas fa-plus text-primary mr-[1rem]"></i>Apply procedure</div>
      <div class="text-[15pt] font-semibold ml-[1rem] mb-[1rem] mt-[1rem]"><i class="fas fa-user text-primary mr-[1rem]"></i>Patient: {{patient.firstName}} {{patient.lastName}}</div>
      <div class="text-[15pt] font-semibold ml-[1rem] mb-[1rem]"><i class="fas fa-clock text-primary mr-[1rem]"></i>Appointment of: {{appointment.timestamp}}</div>

      {% if medicalStaff != None %}
        <div class="overflow-x-auto flex-1 flex items-start">
          <table class="table table-pin-rows table-pin-cols table-zebra">
            <thead>
              <tr>
                <td></td>
                <td>Id</td> 
                <td>Department</td>
                <td>Speciality</td>
                <td>First name</td> 
                <td>Last name</td> 
                <td>Date of birth</td> 
                <td>Address</td> 
                <td>Phone number</td>
                <td>Email</td>
                <td>Gender</td>
                <td>Created at</td>
                <td>Updated at</td>
              </tr>
            </thead> 
            <tbody>
              <tr>
                <td>
                  <form action="" method="post">
                    {% csrf_token %}
                    {% render_field assignMedicalStaffForm.medicalStaffId hidden="true" placeholder="Search medical staff" value=medicalStaff.id type="text" class+="input input-bordered w-full" %}
                    {% render_field assignMedicalStaffForm.remove hidden="true" checked="true" id="remove-medical-staff" %}
                    <button class="btn btn-error min-w-[7rem]"><i class="fas fa-trash"></i> Unselect</button>
                  </form>
                </td>
                <td>{{medicalStaff.id}}</td> 
                <td>{{medicalStaff.department}}</td>
                <td>{{medicalStaff.speciality}}</td>
                <td>{{medicalStaff.firstName}}</td> 
                <td>{{medicalStaff.lastName}}</td> 
                <td>{{medicalStaff.dateOfBirth}}</td> 
                <td>{{medicalStaff.address}}</td> 
                <td>{{medicalStaff.phoneNumber}}</td>
                <td>{{medicalStaff.email}}</td>
                <td>{{medicalStaff.gender}}</td>
                <td>{{medicalStaff.createdAt}}</td>
                <td>{{medicalStaff.updatedAt}}</td>
              </tr>
            </tbody> 
          </table>
        </div>
      {% endif %}

      <form class="flex flex-1 flex-col" action="" method="post">
        {% csrf_token %}
  
        {% if form.errors %}
          <div role="alert" class="alert alert-error mt-[1rem]">
            <i class="fas fa-times"></i>
            <span>{{form.errors}}</span>
          </div>
        {% endif %}
  
        
        {% if medicalStaff != None %}
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Procedure</span>
            </div>
            {% render_field form.procedure class+="select select-bordered" %}
          </label>

          <select name="medicalStaff" required="" id="id_medicalStaff" hidden>
            <option value="{{medicalStaff.id}}">{{medicalStaff.firstName}}</option>
          </select>

          <input type="text" name="confirm" value="true" hidden>
    
          <button class="btn btn-primary mt-[2rem]"><i class="fas fa-plus"></i>Apply procedure</button>
        {% endif %}
      </form>
  
  
      {% if medicalStaff == None %}
        <div class="flex flex-1 flex-col items-center pb-[5rem] mt-[2rem]">
          <div class="flex flex-1 flex-col justify-start w-full">
            <div class="text-[23pt] font-bold"><i class="fas fa-list text-primary mr-[1rem]"></i>Select a medical staff</div>
      
            <form action="" method="get" class="mb-[1rem]">
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text"><i class="fas fa-search"></i> Search</span>
                </div>
                <div class="flex">
                  {% render_field searchForm.search placeholder="Search medical staff" type="text" class+="input input-bordered w-full" %}
                  <button class="btn btn-primary ml-[0.5rem]"><i class="fas fa-search"></i></button>
                </div>
              </label>
            </form>
      
            {% if medicalStaffList.count > 0 %}
            <div class="overflow-x-auto flex-1 flex items-start">
              <table class="table table-pin-rows table-pin-cols table-zebra">
                <thead>
                  <tr>
                    <td></td>
                    <td>Id</td> 
                    <td>Department</td>
                    <td>Speciality</td>
                    <td>First name</td> 
                    <td>Last name</td> 
                    <td>Date of birth</td> 
                    <td>Address</td> 
                    <td>Phone number</td>
                    <td>Email</td>
                    <td>Gender</td>
                    <td>Created at</td>
                    <td>Updated at</td>
                  </tr>
                </thead> 
                <tbody>
                  {% for medicalStaff in medicalStaffList %}
                    <tr>
                      <td>
                        <form action="" method="post">
                          {% csrf_token %}
                          {% render_field assignMedicalStaffForm.medicalStaffId hidden="true" placeholder="Search medical staff" value=medicalStaff.id type="text" class+="input input-bordered w-full" %}
                          {% render_field assignMedicalStaffForm.remove hidden="true" id="assign-medical-staff"  %}
                          <button class="btn btn-primary min-w-[7rem]"><i class="fas fa-check"></i> Select</button>
                        </form>
                      </td>
                      <td>{{medicalStaff.id}}</td> 
                      <td>{{medicalStaff.department}}</td>
                      <td>{{medicalStaff.speciality}}</td>
                      <td>{{medicalStaff.firstName}}</td> 
                      <td>{{medicalStaff.lastName}}</td> 
                      <td>{{medicalStaff.dateOfBirth}}</td> 
                      <td>{{medicalStaff.address}}</td> 
                      <td>{{medicalStaff.phoneNumber}}</td>
                      <td>{{medicalStaff.email}}</td>
                      <td>{{medicalStaff.gender}}</td>
                      <td>{{medicalStaff.createdAt}}</td>
                      <td>{{medicalStaff.updatedAt}}</td>
                    </tr>
                  {% endfor %}
                </tbody> 
              </table>
            </div>
            {% else %}
              <div class="flex flex-1 flex-col justify-center items-center h-full w-full">
                <img class="w-[30%]" src="{% static "assets/empty-list.svg" %}" alt="empty-list">
                <div class="text-[20pt]">The list is empty</div>
              </div>
            {% endif %}
            
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}
