{% extends "layouts/dashboard.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <title>Patient list</title>
{% endblock head %} 

{% block dashboard_content %}
  <div class="flex flex-1 flex-col items-center pb-[5rem]">
    <div class="flex flex-1 flex-col max-w-[90%] lg:max-w-[80%] justify-start w-full">

      <div class="flex mb-[1rem]">
        <a class="btn btn-wide" href="{% url "dashboard" %}"><i class="fas fa-angle-left"></i>Back to dashboard</a>
      </div>

      <div class="text-[30pt] font-bold"><i class="fas fa-list text-primary mr-[1rem]"></i>Patient list</div>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div role="alert" class="alert alert-success mt-[1rem]">
              <i class="fas fa-check"></i>
              <span>{{message}}</span>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <form action="" method="get" class="mb-[1rem]">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text"><i class="fas fa-search"></i> Search</span>
          </div>
          <div class="flex">
            {% render_field form.search placeholder="Search patients" type="text" class+="input input-bordered w-full" %}
            <button class="btn btn-primary ml-[0.5rem]"><i class="fas fa-search"></i></button>
          </div>
        </label>
      </form>

      {% if patients.count > 0 %}
      <div class="overflow-x-auto flex-1 flex items-start">
        <table class="table table-pin-rows table-pin-cols table-zebra">
          <thead>
            <tr>
              <td></td>
              <td>Id</td> 
              <td>First name</td> 
              <td>Last name</td> 
              <td>Date of birth</td> 
              <td>Address</td> 
              <td>Phone number</td>
              <td>Email</td>
              <td>Gender</td>
              <td>Created at</td>
              <td>Updated at</td>
            </tr>
          </thead> 
          <tbody>
            {% for patient in patients %}
              <tr>
                <td>
                  <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-primary m-1"><i class="fas fa-ellipsis"></i></div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow-2xl bg-base-200 rounded-box w-52">
                      <li><a href="{% url "add-appointment" patientId=patient.id %}"><i class="fas fa-plus"></i>Add appointement</a></li>
                      <li><a href="{% url "appointment-list-patient" patientId=patient.id %}"><i class="fas fa-list"></i>Appointment list</a></li>
                      <li><a href="{% url "edit-medical-history" patientId=patient.id %}"><i class="fas fa-clock-rotate-left"></i>History</a></li>
                      <li><a href="{% url "edit-patient" patientId=patient.id %}"><i class="fas fa-pen"></i>Edit</a></li>
                      <li><a class="text-error" onclick="modal_{{forloop.counter}}.showModal()"><i class="fas fa-trash"></i>Delete</a></li>
                    </ul>
                  </div>
                  <dialog id="modal_{{forloop.counter}}" class="modal">
                    <div class="modal-box">
                      <h3 class="font-bold text-lg">Delete confirmation</h3>
                      <p class="py-4">Are you sure you want to delete patient "{{patient.firstName}} {{patient.lastName}}"</p>
                      <div class="modal-action">
                        <form action="{% url "delete-patient" patientId=patient.id %}" method="post">
                          {% csrf_token %}
                          <button class="btn btn-error">Delete</button>
                        </form>
                        <form method="dialog">
                          <button class="btn">Close</button>
                        </form>
                      </div>
                    </div>
                  </dialog>   
                </td>
                <td>{{patient.id}}</td> 
                <td>{{patient.firstName}}</td> 
                <td>{{patient.lastName}}</td> 
                <td>{{patient.dateOfBirth}}</td> 
                <td>{{patient.address}}</td> 
                <td>{{patient.phoneNumber}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.createdAt}}</td>
                <td>{{patient.updatedAt}}</td>
              </tr>
            {% endfor %}
          </tbody> 
        </table>
      </div>
      {% else %}
        <div class="flex flex-1 flex-col justify-center items-center h-full w-full">
          <img class="h-[30%]" src="{% static "assets/empty-list.svg" %}" alt="empty-list">
          <div class="text-[20pt]">The list is empty</div>
        </div>
      {% endif %}
      
    </div>
  </div>
{% endblock dashboard_content %}
