{% extends "layouts/dashboard.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <title>Add prescription</title>
{% endblock head %} 

{% block dashboard_content %}
  <div class="flex flex-1 flex-col items-center pb-[5rem]">
    <form class="flex flex-1 flex-col w-[90%] max-w-[50rem]" action="" method="post">
      {% csrf_token %}

      <div class="flex mb-[1rem]">
        <a class="btn btn-wide" href="{% url "edit-appointment" appointmentId=appointment.id %}"><i class="fas fa-angle-left"></i>Back to edit appointment</a>
      </div>
  
      <div class="text-[30pt] font-bold"><i class="fas fa-notes-medical text-primary mr-[1rem]"></i>Add prescription</div>
      <div class="text-[15pt] font-semibold ml-[1rem] mb-[1rem]"><i class="fas fa-user text-primary mr-[1rem]"></i>Patient: {{patient.firstName}} {{patient.lastName}}</div>
      <div class="text-[15pt] font-semibold ml-[1rem] mb-[1rem]"><i class="fas fa-notes-medical text-primary mr-[1rem]"></i>Appointment: {{appointment.timestamp}}</div>

      {% if form.errors %}
        <div role="alert" class="alert alert-error mt-[1rem]">
          <i class="fas fa-times"></i>
          <span>{{form.errors}}</span>
        </div>
      {% endif %}

      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Content</span>
        </div>
        {% render_field form.content placeholder="Content" class+="textarea textarea-bordered w-full" %}
      </label>

      <button class="btn btn-primary mt-[2rem]"><i class="fas fa-plus"></i>Add prescription</button>
    </form>
  </div>
{% endblock dashboard_content %}
